<!-- Page Content -->
<div class="container">

    <div class="row">
        <div class="col-lg-12 text-center">
            <h1>Welcome! This is a Bootstrap Starter Template</h1>
            <p class="lead">A Bootstrap HTML starter template from <a href="http://startbootstrap.com/">startbootstrap.com</a>.</p>
            
            <p> 
                <%= form_tag(sku_find_path) do %>
                <%= text_field_tag :search, params[:search], placeholder: "Find product" %>
                <%= submit_tag "Find" %>
                <% end %>
            </p>


        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
